*{
    margin: 0;
    border: 0;
     box-sizing: border-box;
}
#contanier{
     border: 1px solid; 
    height: auto;
    width: 1150px;
    margin: auto;
    margin-top: 150px;
}
/* copm */
#greatcompanies{
    /* border: 1px solid blue; */
    display: flex;
}
.h1comdiv{
    /* border: 1px solid; */
    height: 200px;
    width:610px;
}
.h1com{
    font-family: Factor A,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 48px;
}
.imgbackdiv{
    /* border: 1px solid; */

    /* position: absolute; */
    /* top: 14px;
    display: block; */
    /* width: 396px; */
    /* height: auto; */
    z-index: -1;
    margin-left: 50px;

}
.imgmain{
    /* border: 1px solid; */
    margin-left: -410px;
    margin-top: -20px;
}
.p_disc_div{
/* border: 1px solid; */
width: 515px;


}
.p_dis{
 font-family: Factor A,Arial,Helvetica,sans-serif;
 font-size: 20px;
 color: #24272e;
 line-height: 1.6;
}
.pdiv_stories{
    /* border: 1px  solid saddlebrown; */
    margin-top: 20px;
    width: 350px;
    height: 100px;
}
.pstories{
    font-family: Factor A,Arial,Helvetica,sans-serif;
    font-size: 20px;
    color: #24272e;
    font-weight: 700;
    line-height: 1.6;
   } 
   .astories{
    text-decoration: none;
     color:#ff8061 ; ;
   } 
   .astories:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* select */
.select{
    border: 1px solid;
    padding: 20px;
    margin-left: 20px;
    display: flex;
}
#selectid1{
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
    width: 290px;
   
    font-size: 18px;
    margin-top: 50px;
    color: #8e93a0;
    border-radius: skyblue;
}
#selectid2{
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
    width: 290px;
   
    font-size: 18px;
    margin-top: 50px;
    color: #8e93a0;
    border-radius: skyblue;
}
#selectid3{
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
    width: 290px;
   
    font-size: 18px;
    margin-top: 50px;
    color: #8e93a0;
    border-radius: skyblue;
}
.div2_select{
    margin-left: 20px;
}
.div3_select{
    margin-left: 20px;
}
/* slect by appned */
#select_type{
    height: 1000px;
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3 ,1fr );
    margin-top: 20px;
    padding: 20px;
    gap:30px ;
    border: 1px solid;
}
.selectimg{
    height:auto;
     width: 100%;
     border-radius: 10px;
}
.aselect{
    text-decoration: none;
    font-family: Factor A,Arial,sans-serif;
     
    /* text-align: center; */
  
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 21px;
    line-height: 1.35;
    font-weight: 600;
    color: #171A22;
    margin-bottom: 8px;
}
.aselect:hover{
    cursor: pointer;
    color: #ff8061;
  
}
.heading_div{
    margin-top: 10px;
}
.pbrands{
    color: #171A22;
    font-family: Factor A,Arial,sans-serif;
    font-size: 16px;
    text-align: center;
}
.imgofbrnad{
    height: 100%;
    width: 100%;
    margin-top: 50px;
}