*{
    margin: 0;
    border: 0;
     box-sizing: border-box;
}
#container{
      border: 1px solid;  
    height: auto;
    width: 1150px;
    margin: auto;
    margin-top: 150px;
}

#greatcompanies{
    /* border: 1px solid blue; */
    display: flex;
}
.h1comdiv{
     /* border: 1px solid;  */
    height: 200px;
    width:500px;
}
.h1com{
    font-family: Factor A,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 48px;
}
.imgbackdiv{
    /* border: 1px solid; */

    /* position: absolute; */
    /* top: 14px;
    display: block; */
    /* width: 396px; */
    /* height: auto; */
    z-index: -1;
    margin-left: 50px;

}
.imgmain{
     /* border: 1px solid;  */
    margin-left: -410px;
    margin-top: -20px;
}
.p_disc_div{
 /* border: 1px solid;  */
width: 510px;
margin-top: -50px;



}
.p_dis{
 font-family: Factor A,Arial,Helvetica,sans-serif;
 font-size: 20px;
 color: #24272e;
 line-height: 1.6;
}

/* ............................ */
.h1mediadiv{
/* border: 1px solid; */
margin-top: 150px;
}

.h1media{
    font-family: Factor A,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 48px;
}
.imgdiv1{
    margin-top: 100px;
      
}
/* ............... */
.h1what_data{
    margin-top: 100px;
}
.h1what_data{
    font-family: Factor A,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 48px;
}
/* ,..................... */
#dataproviderdiv{
    height: 750px;
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3 ,1fr );
    margin-top: 20px;
    padding: 20px;
    gap:30px ;
     border: 1px solid; 
}
.aselect{
    text-decoration: none;
    font-family: Factor A,Arial,sans-serif;
     
    /* text-align: center; */
  
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 21px;
    line-height: 1.35;
    font-weight: 600;
    color: #171A22;
    margin-bottom: 8px;
}
.selectdiv{

    border-radius: 10px;
    /* border-color: #797c84; */
    border: 0.1px solid  #797c84;;
}
.selectdiv:hover{
    border-radius: 10px;
    cursor: pointer;
    color: #ff8061;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.heading_div_p{
    /* border: 1px solid; */
    margin-top: 10px;
    margin: 20px;
}
.pselect{
    font-family: Factor A,Arial,sans-serif;
     
}
.heading_div_a{
    margin: 10px 20px;
}

.imgdiv{
    /* border: 1px solid; */
    margin: 10px 20px;
}

/* ................... */
.divofdatausage{
    border: 1px solid red;
display: flex;
justify-content: space-between;
}
.bttnarow{
    cursor: pointer;
    background: none;
}
.arrowchangeid{
border: 1px solid;
}
.imgofarrow{
    height: 50%;
    width: 50%;
}
/* ................. */
.h1ourrecent{
    font-family: Factor A,Arial,sans-serif;
    text-align: center;
    font-size: 48px;
}
.h1ourrecentdiv{
    
    margin-top: 150px;
}
.psele{
    font-size: 16px;
    
    font-family: Factor A,Arial,sans-serif;
}
/* ............... */
#bottomdiv{
    height: 750px;
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3 ,1fr );
    margin-top: 40px; 
     /* padding: 20px;  */
    /* column-gap:5px ; */
    row-gap: 50px;
    /* border: 1px solid;  */
}
.imgdiv2{
    /* border: 1px solid; */
    height: 200px;
    width: 350px;
     
}
.selectimg2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.aselect3{
    font-family: Factor A,Arial,sans-serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
     color: #24272e; 

}
.heading_div_a2{
    /* border: 1px solid; */
    width: 400px;
    margin-top: 20px;
   
    
}
.aselect3:hover{
    cursor: pointer;
    color: #ff8061;
}
