*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
#container{
    width: 100%;
    
 }
 #top{
    width: 100%;
     background-color:#111317;
     text-align: center;
     height: 3.5rem;
 }
#top a{
    text-decoration: none;
    color: white;
}
 #top ul{
    
     display: flex;
     justify-content: space-around;
     list-style: none;
     color: white;
     margin: auto;
     text-decoration: none;
    align-items: center;
    height: 56px;
 }
 #top ul li{
  padding: 15px 0px;
  cursor: pointer;
 }
 #top img{
    width: 150px;
    height: 50px;
    margin-left: 100px;
    margin-right: 20px;
 }
 #top img:hover{
    background-color: transparent;
 }

 .dropDown{
     display: none;  
 }
 .deb{
   display: none;
   padding: 30px;
   
 }
 .deb h1,p{
   text-align: start;
   margin-top: 10px;
 }
 #top ul li:hover .dropDown{
     display: inline-flex;
     font-size: 13px;
     position: absolute;
     background-color:#111317;
     margin-top: 30px;
     margin-left: -120px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
     
 }
 #top ul li:hover .dropDown .deb{
  display:block;
 }
 #top ul li:hover .dropDown .deb h1{
   color:white;
   font-size: 22px;
   line-height: 30px;
 }
 #top ul li:hover .dropDown .deb p{
  color:grey;
  text-align: start;
}
 #top ul li:hover .dropDown .deb-img h1 img{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
 }
 #top ul li:hover .dropDown .deb-img h1{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
 }
 #top ul li:hover .dropDown .deb-img  {
  text-align: start;
  padding: 30px 0px;
 }



 #Signin{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 7%;
 }
 #Signin > p{
    margin-right: 10px;
 }
 #Signin > button:nth-child(2){
    padding: 5px 15px;
    background-color: #111317;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    border-radius: 5px;
 }
 #Signin > button:nth-child(3){
  padding: 5px 15px;
  background-color: #00BC98;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 10px;
}

 #measurable-units{
padding: 50px 0px;
   background-color: #421983;
   text-align: center;
 }
 #measurable-units h1{
   margin-top: 10vh;
   font-size: 58px;
   color: white;
 }
 #measurable-units #measurable-units-decription{
   font-size: 22px;
   margin-top: 5vh;
   font-family: sans-serif;
   text-align: center;
   line-height: 25px;
   color: white;

 }
 #measurable-units input{
   width: 40%;
   padding: 15px 40px;
   margin-top: 20px;
   border-radius: 10px;
   border: none;
   font-size: 20px;
 }
 #measurable-units button{
   padding: 15px 50px;
   background-color: #E2501D;
   border: none;
   border-radius: 10px;
   font-size: 20px;
   color: white;
 }
 #trusted{
   text-align: center;
   margin-top: 15vh;
   font-size: 18px;
   color: gray;
 }
 #animation{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 }
#whats-inside{
  width: 100%;
  background-color: #421983;
  text-align: center;
  padding: 50px 0px;
}
#whats-inside > #whats-inside-container{
  margin: 50px 70px;
  width: 90%;
  padding: 50px 0px;
  border-radius: 20px;
  background-color: white;
} 
#whats-inside > #whats-inside-container > #whats-inside-container-logo{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#whats-inside > #whats-inside-container > #whats-inside-container-logo > div {
  padding-bottom: 10px;
  border-bottom: 5px solid #421983;
}
#whats-inside > #whats-inside-container > #whats-inside-container-logo img{
  width: 150px;
  height: 110px;
}

#whats-inside > #whats-inside-container > #whats-inside-container-presentation {
  display: flex;
  padding: 50px;
  text-align: start;
  justify-content: space-between;
  margin-top: 20px;

}
#whats-inside > #whats-inside-container > #whats-inside-container-presentation ul{
  font-size: 20px;
  margin-top: 30px;
  line-height: 30px;
  color: gray;
  margin-left: 20px;
}
#whats-inside > #whats-inside-container > #whats-inside-container-presentation button{
  margin-top: 30px;
  width: 40%;
  padding: 12px 0px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #FF622D;
  border: none;
}

 #mario-leon-rojas{
  
  text-align: center;
  padding: 60px 0px;
 }
 #mario-leon-rojas img{
  margin-top: 50px;
 }
 #mario-leon-rojas h2{
  font-size: 45px;
 }
 #mario-leon-rojas h4,p{
  text-align: center;
  margin-top: 10px;
 }



 #awards-winning-total{
  text-align: center;
  height: 100vh;
  
  padding: 50px 0px;
 }
 #awards-winning-total > h1{
  font-size: 45px;
  margin-top: 30px;
  font-weight: 600;
 }
 #awards-winning-total > #awards-winning-total-numbers{
  width: 90%;
  margin: auto;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,300px);
 }
 #awards-winning-total > #awards-winning-total-numbers  h1{
  font-size: 75px;
  position: relative;
 }
 #awards-winning-total > #awards-winning-total-numbers  h1 > span{
  color:#FF788F;
  position: absolute;
  z-index: -1;
  top: -45px;
  right:100px;
 }
 #awards-winning-total > #awards-winning-total-numbers  h3{
 font-size: 20px;
 }
 #awards-winning-total > #awards-winning-total-numbers  p{
font-size: 20px;
 }
 #moredata-more-insights{
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-rows: auto;
  gap: 20px;
 }
 #moredata-more-insights > #moredata-more-insights-1{
  padding: 30px 0px;
  text-align: start;
  margin-left: 50px;
 }
 #moredata-more-insights > #moredata-more-insights-1 > h1{
  font-size: 45px;
  margin:100px 0px 0px 50px;
 }
 #moredata-more-insights > #moredata-more-insights-1 > p{
  font-size: 22px;
  margin:20px 0px 0px 50px;
  line-height: 33px;
 }
 #moredata-more-insights > #moredata-more-insights-1 > button{
  margin: 20px 0px 0px 50px;
  padding: 15px 0px;
  width: 40%  ;
  font-size: 20px;
  color: white;
  background-color: #FF622D;
  border: none;
  border-radius: 5px;
 }
 #ceo-founder{
  display: flex;
  padding: 50px;
 }
 #ceo-founder >  #ceo-description{
  padding: 100px;
 }
 #ceo-founder >  #ceo-description > h1{
  font-size: 40px;
  margin-top: 50px;
 }
 #ceo-founder >  #ceo-description > p{
  text-align: start;
  margin-top: 15px;
 }
 #ceo-founder >  #ceo-description > p > span{
  font-size: 20px;
  font-weight: bold;
  color: #FF622D;
 }
 #ceo-founder >  #ceo-description > button{
  width: 75%;
  color: white;
  font-size: 20px;
  padding: 15px 0px;
  margin-top: 50px;
  border-radius: 5px;
  border: none;
  background-color: #FF622D;
 }
#marketer-semrush{
  width: 100%;
  text-align: center;
  padding: 50px 30px;
}
#marketer-semrush > h1{
  font-size: 50px;
  margin-top: 100px;
}
#marketer-semrush > #marketer-semrush-buttons{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-top: 40px;
}
#marketer-semrush > #marketer-semrush-buttons > button{
  padding: 10px 30px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid gray;
}
#marketer-semrush > #employee-quotes{
  margin: auto;
  width: 90%;
  text-align: center;
  background-color: #C9EDFF;
  margin-top: 50px;
  padding: 50px 30px;
  border-radius: 10px;
}
#marketer-semrush > #employee-quotes > h1{
margin-top: 100px;
}
#marketer-semrush > #employee-quotes > img{
  margin-top: 50px;
  border-radius: 50px;
  width: 100px;
}
#marketer-semrush > #employee-quotes > h3{
  margin-top: 30px;
}
#free-semrush-trail{
  background-color: #421983;
  height: 50vh;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
  
}
#free-semrush-trail > h1{
  margin-top: 60px;
  font-size: 50px;
  color: white;
}
#free-semrush-trail > p{
  margin-top: 20px;
  font-size: 25px;
  color: white;
}
#free-semrush-trail > button{
  margin-top: 20px;
  font-size: 25px;
  color: white;
  background-color: #FF622D;
  padding: 10px  0px;
  width: 27%;
  border-radius: 5px;
  border: none;
}
#semrush-bottom{
  width: 100%;
  background-color: #111317;
  padding: 50px 50px;
  color: white;
}
#semrush-bottom > #semrush-bottom-header{
  justify-content: space-around;
  display: grid;
  grid-template-columns: 35% 25% 35%;
  grid-template-rows: auto;
  gap: 30px;
}
#semrush-bottom > #semrush-bottom-header > div:first-child{
  display: flex;
  justify-content: space-around;
  align-items:baseline;
}
#semrush-bottom > #semrush-bottom-header > div:first-child > div select{
  background-color:#111317 ;
  width: 100%;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  margin-left: 20px;

}
#semrush-bottom > #semrush-bottom-header > div:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
}
#semrush-bottom > #semrush-bottom-header > div:nth-child(3) > button{
  width: 80%;
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #00BC98;
  border-radius: 5px;
  font-size: 18px;
}

#semrush-bottom > #semrush-bottom-middle{
  border: 1px solid grey;
  margin: auto;
  width: 93%;
  padding: 15px 0px 20px 0px;
  margin-top: 40px;
  border-radius: 5px;
}
#semrush-bottom > #semrush-bottom-middle > div{
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-size: 13px;
  color: grey;
  align-items: center;
}


#semrush-bottom-last{
  width: 93%;
  margin: auto;
}
#semrush-bottom-last{
  width: 93%;
  margin-top: 50px;
  font-size: 13px;
}
#semrush-bottom-last > #semrush-bottom-last-company{
  display: flex;
}
#semrush-bottom-last > #semrush-bottom-last-company > div{
  margin-right: 95px;
}
#semrush-bottom-last li{
  list-style: none;
  line-height: 23px;
  color: gray;
}

#semrush-website-copyright{
  background-color: #000000;
  padding: 25px;
  display: flex;
  align-items: center;
}
#semrush-website-copyright img{
  width: 160px;
  margin-left: 8vw;
}
#semrush-website-copyright p{
  color: gray;
  font-size: 12px;
  margin: 0px 0px 0px 50px;
}






