*{
    margin: 0;
    padding: 0;
}
/* nwesromm */
.newsroomdiv{
    border: 1px solid;
   
    height: 300px;
    width: 700px;
    margin: auto;
    margin-top: 100px;
}
.h1_newsroom{
    font-family: Factor A,Arial,sans-serif;
     
    text-align: center;
    font-size: 60px;
    margin-bottom: 24px;
    font-weight: 700;
}
.pdiv_nwesroom{
    border: 1px solid;
    /* height: auto; */
    /* width: 400px; */
    margin: auto;
}
.p_nwesroom{
    color: #24272e;
    line-height:30px;
    font-size: 21px;
    max-width: 610px;
    margin-left: 40px;
    text-align:center;
    font-family: Factor A,Arial,sans-serif;
}
.datastudies{
    color:#ff8061 ;
    text-decoration: none;

}
.datastudies:hover{
    cursor: pointer;
    text-decoration: underline;
}


/* ............. */
/* our recnt nwes */
.h1recntnwes{
    font-family: Factor A,Arial,sans-serif;
     
    text-align: center;
    font-size: 48px;
    margin-bottom: 24px;
    
}
#ourrecentnews{
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    height: 1300px;
    width: 1120px;
    margin: auto;
    margin-top: 50px;
   
    
}
.imgdiv{
    border: 1px solid red;
    height: 200px;
    width: 350px;
}
.newsimg{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: auto
}
.name_div{
    border: 1px solid;
    margin-top: 20px;
    width: 340px;
}
.newsdiv{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}
.anews{
    text-decoration: none;
    font-family: Factor A,Arial,sans-serif;
     
    /* text-align: center; */
  
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 21px;
    line-height: 1.35;
    font-weight: 600;
    color: #171A22;
    margin-bottom: 8px;
}
.anews:hover{
    cursor: pointer;
    color: #ff8061;
  
}
.datediv{
    border: 1px solid;
   
}
.pnewsdate{
    color: #24272e;
      margin-top: 50px;  
    font-family: Factor A,Arial,sans-serif;
}
/* queris  */
.pmediaqueriesdiv{
border: 1px solid;
margin-top: 100px;
height: 100px;
width: 35%;
margin: auto;
margin-bottom: 100px;

}
.pmediaq{
    text-align: center;
    font-size: 21px;
    line-height: 1.3;
    font-weight: 700;
    color:#171A22;
    margin-top: 50px;  
  font-family: Factor A,Arial,sans-serif;
}
.aqueris{
 text-decoration: none;
 color: #ff8061;;
 }
 .aqueris:hover{
    cursor: pointer ;
    text-decoration: underline;
 }